import { createAction } from "redux-actions"
// import HttpUtil from "Common/http-util"
// import HttpApi from "Common/http-api"
export const update{0}State = createAction("update{0}State", payload => payload)

export const clear{0}State = createAction("clear{0}State")
