.javascriptError-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding-top: 62px;
    background: #fff;
    .ant-tabs-nav .ant-tabs-tab {
        .anticon {
            font-weight: bold;
        }
    }
    .ant-tabs-nav .ant-tabs-tab-active {
        color: #5d5cb6;
    }
    .ant-tabs-ink-bar {
        background-color: #5d5cb6;
    }
    .ant-row {
        padding: 0 20px;
        margin: 20px 0;
        .info-box {
            width: 50%;
            min-height: 100px;
            text-align: center;
            float: left;
            span:first-child {
                display: block;
                font-size: 40px;
            }
            label {
                font-size: 12px;
                display: block;
            }
            .anticon {
                color: #727082;
                font-weight: bold;
            }
        }
    }
    .click-export {
        font-size: 16px;
        margin-left: 10px;
        font-weight: bold;
        color: #aaa;
    }
    .ant-pagination {
        text-align: right;
        padding-right: 30px;
        padding-bottom: 30px;
    }
    .chart-box {
        width: 100%;
        height: 200px;
    }
    .main-info-container {
        padding-bottom: 20px;
    }
    .error-list-container {
        p {
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #e8e8e8;
            margin: 0;
            padding: 0 20px;
            font-size: 12px;
            cursor: pointer;
            &:last-child {
                border-bottom: 0;
            }
        }
        span:nth-child(2) {
            margin-left: 20px;
            font-size: 16px;
            color: #1890ff;
        }
        span:nth-child(3) {
            margin-left: 20px;
            color: #666;
        }
        span:nth-child(4) {
            margin-left: 20px;
            color: #333;
        }
        span:last-child {
            float: right;
            font-size: 12px;
            margin-right: 15px;
        }
        .ignore-state {
            width: 50px;
            line-height: 26px;
            text-align: center;
            position: absolute;
            color: #ddd;
            margin-top: 10px;
            margin-left: 30px;
            border: 2px solid #ddd;
            border-radius: 4px;
            transform:rotate(-14deg);
            -ms-transform:rotate(-14deg); 	/* IE 9 */
            -moz-transform:rotate(-14deg); 	/* Firefox */
            -webkit-transform:rotate(-14deg); /* Safari 和 Chrome */
            -o-transform:rotate(-14deg); 	/* Opera */
        }
        .resolve-state {
            width: 50px;
            line-height: 26px;
            text-align: center;
            position: absolute;
            color: #06bf06;
            margin-top: 10px;
            margin-left: 30px;
            border: 2px solid #06bf06;
            border-radius: 4px;
            transform:rotate(-14deg);
            -ms-transform:rotate(-14deg); 	/* IE 9 */
            -moz-transform:rotate(-14deg); 	/* Firefox */
            -webkit-transform:rotate(-14deg); /* Safari 和 Chrome */
            -o-transform:rotate(-14deg); 	/* Opera */
        }
        .loading-box {
            display: block;
            width: 100%;
            text-align: center;
        }
        .loading-icon {
            font-size: 40px;
            color: #b2b1f5;
            margin: 40px auto;
        }
        .right-icon {
            float: right;
            font-size: 14px;
            font-weight: bold;
        }
        .not-today {
            color: #aaa;
        }
        .status-icon {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #e67482;
        }
        .status-icon-ignore {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #ddd;
        }
        .status-icon-resolve {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #06bf06;
        }
    }
    .ant-card-body {
        padding: 0;
    }
    .page-container {
        padding-top: 5px;
        padding-right: 10px;
        .url-box {
            margin-bottom: 0;
            height: 40px;
            line-height: 40px;
            border-radius: 5px;
            margin-top: 15px;
            font-weight: bold;
            background: url("../../assets/img/javascriptErrorDetail/url-bg.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 90%;
            margin-left: 5%;
            cursor: pointer;
            span {
                float: left;
            }
            span:first-child {
                width: 80%;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .url-box-active {
            background: url("../../assets/img/javascriptErrorDetail/url-bg-active.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
    .page-error-container {
        padding-top: 5px;
        padding-left: 10px;
    }
}