.submit-action {
  margin: 0 4%;
}
#app .cf-validation-notop {
  margin-top: 0;
}
#app .cf-validation .am-list-item .am-input-control input {
  font-size: 30px;
  color: #40494e;
  text-align: right;
}
#app .cf-validation .am-list-item {
  margin-left: 0;
}
#app .am-list-item .am-input-label {
  margin-left: 0;
  font-size: 30px;
  color: #9096A0;
}
.am-list-item.am-input-item {
  height: 119px;
  padding-left: 8%;
  padding-right: 8%;
}
.am-list-item.am-input-item:after {
  width: 84%;
  left: 8%;
  border-bottom: 1px solid #ccc;
}
.am-notice-bar {
  background-color: #F3F4F5!important;
  .am-notice-bar-marquee {
    color: #FF4444;
    font-size: 26px;
  }
}
.button-primary:disabled {
  background: #FFE387;
}
.submit-action {
  margin-bottom: 120px;
}
