.javascriptErrorDetail-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding-top: 62px;
    background: #fff;
    .detail-container {
        span {
            float: left;
        }
        .error-type {
            height: 50px;
            line-height: 50px;
            font-size: 28px;
            font-weight: bold;
        }
        .error-url {
            height: 50px;
            line-height: 55px;
            font-size: 20px;
            padding-left: 20px;
            color: #727082;
        }
        .error-msg {
            width: 100%;
            label {
                float: left;
            }
            label:first-child {
                width: 18px;
                height: 18px;
                border-radius: 9px;
                background: #e67482;
                margin-top: 5px;
            }
            label:nth-child(2) {
                font-size: 18px;
                padding-left: 10px;
            }
            label:nth-child(3) {
                margin-left: 20px;
                margin-top: 4px;
                color: #949090;
            }
        }
        .error-page-link {
            margin-top: 8px;
            .anticon {
                font-size: 17px;
                font-weight: bold;
                color: #5d74b9;
            }
            a {
                margin-left: 10px;
            }
        }
        .info-box {
            width: 100px;
            height: 74px;
            margin-left: 40px;
            float: left;
            &:first-child {
                margin-left: 0;
            }
            span {
                display: block;
                width: 100%;
                text-align: center;
            }
            span:first-child {
                font-size: 16px;
                margin-top: 10px;
                font-weight: bold;
                color: #c1bdbd;
            }
            span:last-child {
                font-size: 26px;
                color: #556eba;
            }
        }
        .operation-container {
            margin-top: 10px;
            .ant-btn span {
                float: right;
            }
            .ant-btn i {
                margin-left: 0;
                margin-right: 8px;
                font-weight: bold;
            }
            .ant-btn:nth-child(2), .ant-btn:nth-child(3), .ant-btn:nth-child(5) {
                margin-left: 15px;
            }
            .ant-btn:nth-child(4) {
                margin-left: 25px;
            }
        }
    }
    .ant-row.device-container {
        padding-top: 30px;
        padding-bottom: 30px;
        color: #727082;
        .anticon {
            font-size: 50px;
            float: left;
        }
        .ip-address-icon {
            color: #5d74b9;
        }
        .device-info-box {
            float: left;
            padding: 5px 10px;
            span {
                display: block;
            }
            span:first-child {
                font-weight: bold;
            }
        }
    }
    .ant-row {
        padding: 10px 20px 20px 20px;
        border-bottom: 1px solid #eaeaea;
    }
    .table-container {
        padding: 0;
    }
}